header{
	display: block;
	background-color: chartreuse;
	text-align: center;

}
a{
	font-family: Georgia, 'Times New Roman', Times, serif;
	text-decoration: none;
	color: black;
	margin: 5px 2px 3px 4px;
	
}
.profile-picture{
	border-radius: 75%;
}
.logo{
	align-content:left;
}
a:hover{
	color: blue;
}