<h1>Account Balance</h1>
                <table class="cool-table">
                    <thead>
                        <tr>
                            <th>Bill name</th>
                            <th>Value</th>
                            <th>Balance before account</th>
                            <th>Balance with account</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td data-th="Bill name">Salary</td>
                            <td data-th="Value">+1500$</td>
                            <td data-th="Year">75$</td>
                            <td data-th="Balance with account">1575$</td>
                        </tr>
                        <tr>
                            <td data-th="Bill name">Yields</td>
                            <td data-th="Value">350$</td>
                            <td data-th="Balance before account">1575$</td>
                            <td data-th="Balance with account">1925$</td>
                        </tr>
                        <tr>
                            <td data-th="Bill name">Payment Bills</td>
                            <td data-th="Value">950$</td>
                            <td data-th="Balance before account">1925$</td>
                            <td data-th="Balance with account">975$</td>
                        </tr>
                        <tr>
                            <td data-th="Bill name">Investment</td>
                            <td data-th="Value">732$</td>
                            <td data-th="Balance before account">975$</td>
                            <td data-th="Balance with account">243$</td>
                        </tr>
                    </tbody>
                </table>
